.is-on-top {
  z-index: 100;
}
.is-flex-column {
  flex-direction: column;
}

.is-concise-message {
  padding: 0.7em;
  display: block;
}

.is-vcentered {
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.m-r-sm { margin-right: 0.5rem; }
