    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
    }

    .footer-text {
        max-width: 600px;
        text-align: center;
        margin: auto;
        z-index: 10;
        color: turquoise
    }

    @media only screen and (max-width: 600px) {
      .footer-text, .dg {
        display: none;
      }
    }
    #buttons{
      z-index: 200;
    }
    .button-names{
      color: turquoise;
    }
    #camera-btn{
      color: turquoise;
    }

    .switch{
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    #output {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9;
      border-color: turquoise;
      border-style: solid;
      border-radius: 20px;
      border-width: 5px;
    }
    #video{
      /* position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      border-style: dotted;
      border-width: 3px; */
    }

    .dg.ac {
      visibility: hidden
    }

    body {
      background-color: black
    }
